*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica;
    margin: 0;
    
}
.header{
    padding: 20px;
    text-align: center;
    background: brown;
    color: white;
}
.header h1{
    font-size: 40px;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
}
.navbar a.right{
    float: right;
}

.navbar a:hover{
    background-color: #9e9e9e;
    color: black;
}
.navbar a.active{
    background-color: #7a7a7a;
    color: white;
}
.container{
    max-width: 2000px;
    margin: auto;
    background: gray;
    overflow: auto;
    padding: 20px;
    te
}
.gallery{
    max-width: 900%;
    margin: 0 auto;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.desc{
    padding: 15px;
    text-align: center;
}
.footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}